<div class="pub-list-item" itemscope itemtype="http://schema.org/CreativeWork">
<h4> Program Committees
    <small>
      <input ng-model="search" id="search" type="text" placeholder="Search"/></h4>
    </small>
<ol>
  <div id="searchTextResults" ng-repeat="committee in $ctrl.filtered = $ctrl.Committees | filter:search | startFrom:($ctrl.currentPage-1)*$ctrl.entryLimit | limitTo:$ctrl.entryLimit">
    <li value="{{ $ctrl.totalItems - $index - ($ctrl.currentPage-1) * $ctrl.entryLimit }}">
      <i class="icon icon-generic" data-icon="}" style="color:#03396c;font-size:120%;padding-top:6px; padding-right: 10px;"></i>
      <span class="pub-publication" style="font-style: italic;">
        {{committee.title}}
      </span>
      <span>
        ({{committee.acronym}}),
      </span>
      <span class="project-period" itemprop="name">
        {{committee.date}}.
      </span>
      <span class="project-links">
        <a href="{{committee.url}}"  target="_blank">
          <i class="icon icon-generic" data-icon="y"></i>
        </a>
      </span>
  </li>
</div>
</ol>
<pagination page="$ctrl.currentPage" max-size="$ctrl.noOfPages" total-items="$ctrl.totalItems" items-per-page="$ctrl.entryLimit"></pagination>
</div>
