<div class="pub-list-item" itemscope itemtype="http://schema.org/CreativeWork">
<h4> Software and other developments
    <small>
      <input ng-model="search" id="search" type="text" placeholder="Search"/></h4>
    </small>
<ol>
  <div id="searchTextResults" ng-repeat="software in $ctrl.filtered = $ctrl.Softwares | filter:search | startFrom:($ctrl.currentPage-1)*$ctrl.entryLimit | limitTo:$ctrl.entryLimit">
    <li value="{{ $ctrl.totalItems - $index - ($ctrl.currentPage-1) * $ctrl.entryLimit }}">
      <i class="icon icon-generic" data-icon=":" style="color:#03396c;font-size:120%;padding-top:6px; padding-right: 10px;"></i>
      <span>
        {{software.acronym}}
      </span>
      <span class="pub-publication" style="font-style: italic;">
        {{software.title}}.
      </span>

      <span class="software-institution">
        {{software.institution}},
      </span>
      <span class="project-period" itemprop="name">
        {{software.date}}.
      </span>


      <div style="font-style: italic;">
      Language
      (
      <span class="software-language" >
        <i class="{{software.language}}"></i>
      </span>
      ),

      Systems
      (
      <span ng-repeat="system in software.systems">
        <i class="{{system}}"></i>
      </span>
      ),

      <span ng-show="{{software.tiers !== undefined}}" id="animate-link">
        Third-party
        (
        <span ng-repeat="(key, value) in software.tiers">
          <a href="{{value}}"  target="_blank">{{key}}</a>
        </span>
        ),
      </span>
      <span ng-repeat="(key, value) in software.links">
        <a href="{{value}}"  target="_blank">
          <span ng-show="{{key === 'pdf'}}">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          </span>
          <span ng-show="{{key === 'details'}}">
            <i class="icon icon-generic" data-icon="i"></i>
          </span>
          <span ng-show="{{key === 'project'}}">
            <i class="icon icon-generic" data-icon="#"></i>
          </span>
          <span ng-show="{{key === 'url'}}">
            <i class="icon icon-generic" data-icon="y"></i>
          </span>
          <span ng-show="{{key === 'code'}}">
            <i class="fa fa-code" aria-hidden="true"></i>
          </span>
        </a>
      </span>
    </div>
  </li>
</div>
</ol>
<pagination page="$ctrl.currentPage" max-size="$ctrl.noOfPages" total-items="$ctrl.totalItems" items-per-page="$ctrl.entryLimit"></pagination>
</div>
