<div class="pub-list-item" itemscope itemtype="http://schema.org/CreativeWork">
<h4>Funded Projects
    <small>
      <input ng-model="search" id="search" type="text" placeholder="Search"/></h4>
    </small>
<ol>
  <div id="searchTextResults" ng-repeat="project in $ctrl.filtered = $ctrl.Projects | filter:search | startFrom:($ctrl.currentPage-1)*$ctrl.entryLimit | limitTo:$ctrl.entryLimit">
    <li value="{{ $ctrl.totalItems - $index - ($ctrl.currentPage-1) * $ctrl.entryLimit }}">
      <i class="fa fa-briefcase" aria-hidden="true" style="color:#03396c;font-size:120%;padding-top:6px; padding-right: 10px;"></i>
      <span>
        {{project.acronym}} ({{project.budget}}),
      </span>
      <span class="project-period" itemprop="name">
        {{project.last}}.
      </span>
      <span class="pub-publication" style="font-style: italic;">
        {{project.title}}.
      </span>
      <span class="pub-authors" itemprop="author" id="animate-link">
        <a href="{{$ctrl.Web[project.leader]}}" target="_blank">{{project.leader}}</a>
      </span>(Scientific Coordinator).
      <span class="project-institution">
        {{project.institution}}.
      </span>
      <span class="project-institution">
        Funded by {{project.call}}.
      </span>
      <span class="project-links">
        <a href="{{project.url}}"  target="_blank">
          <i class="icon icon-generic" data-icon="y"></i>
        </a>
      </span>
  </li>
</div>
</ol>
<pagination page="$ctrl.currentPage" max-size="$ctrl.noOfPages" total-items="$ctrl.totalItems" items-per-page="$ctrl.entryLimit"></pagination>
</div>
