
<div class="jumbotron">
  <h1>About</h1>

</div>


<div class='row marketing' id="animate-link">
	<div class='col-lg-6'>
		<h4>INSA Lyon</h4>
		<p><a href='https://www.insa-lyon.fr'
			 target="_blank">insa-lyon.fr</a></p>
	</div>

	<div class='col-lg-6'>
		<h4>CITI Lab.</h4>
		<p><a href='https://www.citi-lab.fr/'
			 target="_blank">citi-lab.fr</a></p>
	</div>

	<div class='col-lg-6'>
		<h4>Université de Lyon</h4>
		<p><a href='http://www.universite-lyon.fr'
			 target="_blank">universite-lyon.fr</a></p>
	</div>

	<div class='col-lg-6'>
		<h4>INRIA Grenoble Rhône-Alpes</h4>
		<p><a href='https://www.inria.fr/centre/grenoble'
			 target="_blank">inria.fr/centre/grenoble</a></p>
	</div>
</div>
