<div ng-controller="ResearchCtrl">
  <div ng-switch on="selection">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#/research"  ng-click="selectPublications()">
          <i class="icon icon-generic" data-icon="P"></i> Publications
      </a></li>
      <li><a href="#/research" ng-click="selectProjects()">
          <i class="fa fa-briefcase" aria-hidden="true"></i> Projects
      </a></li>
      <li><a href="#/research" ng-click="selectStudents()">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i> Students
      </a></li>
      <li><a href="#/research" ng-click="selectCommittees()">
         <i class="icon icon-generic" data-icon="}"></i> Committees
      </a></li>
    </ul>

    <!-- highlights component -->
    <highlights></highlights>

    <div ng-switch-when="publications">
      <!-- publications component -->
      <publications></publications>
    </div>
    <div class="animate-switch" ng-switch-when="students">
      <!-- students component -->
      <students></students>
    </div>
    <div class="animate-switch" ng-switch-when="projects">
      <!-- projects component -->
      <projects></projects>
    </div>
    <div class="animate-switch" ng-switch-when="committees">
      <!-- committees component -->
      <committees></committees>
    </div>
    <div class="animate-switch" ng-switch-default>
      <!-- default component -->
    </div>
  </div>
</div>
